<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/dashboard/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/dashboard/css/style.css" />
    <link rel="stylesheet" href="../static/dashboard/css/style4.css">
</head>

<body>
    <div class="wrapper">
        <div id="content">
            <section class="forms-section">
                <div class="outer-w3-agile mt-3">
                    <div id="message"></div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="emailSubject">Email Subject</label>
                            <button type="submit" class="btn btn-info" id="emailSubject">File</button>
                            <span id="emailSubjectFileName" class="text-info ml-2"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="emailBody">Email Body</label>
                            <button type="submit" class="btn btn-info" id="emailBody">File</button>
                            <span id="emailBodyFileName" class="text-info ml-2"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="emailAddress">Email Address</label>
                            <button type="submit" class="btn btn-success" id="emailAddress">File</button>
                            <span id="emailAddressFileName" class="text-success ml-2"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="leadAddress">Lead Address</label>
                            <button type="submit" class="btn btn-success" id="leadAddress">File</button>
                            <span id="leadAddressFileName" class="text-success ml-2"></span>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" id="sendBtn">Send</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="../renderer/sendInfo.js"></script>
</body>

</html>